<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase Successful</title>
    <link rel="stylesheet" href="css/success.css">
</head>

<body>
    <nav class="navbar">
        <a th:href="@{/}" class="nav-brand">Bus Booking Service</a>
        <div class="nav-links">
            <a href="/reservation" class="nav-link">Check Reservations</a>
        </div>
    </nav>

    <div class="background-image">
        <div class="container">
            <h1>Purchase Successful</h1>
            <div class="buttons">
                <a href="/" class="button">Back to Initial Page</a>
                <a href="/reservation" class="button">Check Reservation</a>
            </div>
        </div>
    </div>
</body>

</html>