<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Reservation</title>
    <link rel="stylesheet" href="css/reservation.css">
    <link rel="stylesheet" href="css/navbar.css">
</head>

<body>
    <nav class=" navbar">
        <a th:href="@{/}" class="nav-brand">Bus Booking Service</a>
        <div class="nav-links">
            <a href="/cacheStats" class="nav-link">Cache Stats</a>
            <a href="/reservation" class="nav-link">Check Reservations</a>
        </div>
    </nav>

    <div class="container">
        <h1>Check Reservation</h1>
        <form action="#" th:action="@{/reservation}" th:object="${reservationRequest}" method="post">
            <label for="reservation-code">Enter Reservation Code:</label>
            <input type="text" id="reservation-code" th:field="*{reservationId}" required>
            <button type="submit">Check</button>
        </form>
        <div th:if="${reservationResponse != null}">
            <h2>Reservation Details</h2>
            <table>
                <tr>
                    <th>Passenger Name</th>
                    <td th:text="${reservationResponse.passengerName}"></td>
                </tr>
                <tr>
                    <th>Passenger Email</th>
                    <td th:text="${reservationResponse.passengerEmail}"></td>
                </tr>
                <tr>
                    <th>Passenger Phone</th>
                    <td th:text="${reservationResponse.passengerPhone}"></td>
                </tr>
                <tr>
                    <th>Reservation Date</th>
                    <td th:text="${reservationResponse.reservationDate}"></td>
                <tr>
                <tr>
                    <th>Payment Method</th>
                    <td th:text="${reservationResponse.paymentMethod}"></td>
                </tr>
                <tr>
                    <th>Original Price</th>
                    <td th:text="${reservationResponse.trip.priceEuro} + ' EUR'"></td>
                <tr>
                    <th>Final Price</th>
                    <td th:text="${reservationResponse.finalPrice} + ' ' + ${reservationResponse.currency}"></td>
                </tr>
            </table>

            <h2>Trip Details</h2>
            <table>
                <tr>
                    <th>Bus ID</th>
                    <td th:text="${reservationResponse.trip.busId}"></td>
                </tr>
                <tr>
                    <th>Origin</th>
                    <td th:text="${reservationResponse.trip.origin}"></td>
                </tr>
                <tr>
                    <th>Destination</th>
                    <td th:text="${reservationResponse.trip.destination}"></td>
                </tr>
                <tr>
                    <th>Departure Date</th>
                    <td th:text="${reservationResponse.trip.date}"></td>
                </tr>
                <tr>
                    <th>Departure Time</th>
                    <td th:text="${reservationResponse.trip.departureTime}"></td>
                </tr>
                <tr>
                    <th>Arrival Time</th>
                    <td th:text="${reservationResponse.trip.arrivalTime}"></td>
                </tr>
                <tr>
                    <th>Duration</th>
                    <td th:text="${reservationResponse.trip.duration}"></td>
                </tr>
            </table>
        </div>
</body>

</html>